<!--<p>addclothes works!</p>-->
<mat-toolbar color="accent" >Adicione um novo item ao seu armário</mat-toolbar>
<form [formGroup]="addClothesForm" class="example-form">
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Nome da peça" formControlName="name" >
    </mat-form-field>
    <br />
<!--    <mat-form-field>-->
<!--      <input (focus)="onFocus($event)" matInput type="description" placeholder="Descrição" formControlName="description" >-->
<!--    </mat-form-field>-->
    <br />
    <button mat-raised-button (click)="onSubmit()" [disabled]="addClothesForm.invalid" color="primary">Adicionar</button>
  </mat-card-content>
</form>
